#main{

    font-family: Arial, Helvetica, sans-serif;
    
}
#main>h1{
    text-align: center;
}
#main>h1:hover{
    text-shadow: 2px 5px 10px skyblue;
}
#main>div{
    height: 400px;
    width: 290px;
    margin: 20px;
    float: left;
    background-color: azure;
    text-align: center;
    box-shadow: 1px 2px 10px aqua;
}
#main>div:hover{
    box-shadow: 1px 2px 20px aqua;
    cursor: pointer;
}